@media only screen and (max-width: 1100px) {
  .about {
    display: block;
    margin: -1%;
  }

  .about-text .col1 {
    display: flex;
  }

  .about-text {
    width: 85%;
    justify-content: center;
    align-items: center;
  }

  .div {
    text-align: right;
    display: block;
    width: 35px;
    height: 5px;
    background-color: #000000;
    margin: 6px 0;
  }

  .topnav {
    display: none;
  }

  .home {
    margin-top: 30%;
    width: auto;
    height: 90vh;
  }

  .logo {
    display: none;
  }

  .home .home-text {
    justify-content: baseline;
    align-items: center;
    width: auto;
    padding: 10px 20px;
    margin: auto;
  }

  .home .Contact-img {
    justify-content: baseline;
    align-items: baseline;
  }

  .home-text h3 {
    margin-top: 15%;
    text-align: center;
  }

  .home-text h3,
  h5,
  h1,
  hr {
    text-align: center;
  }

  #ul {
    text-decoration: none;
    font-size: 30px;
    display: none;
  }

  .dropdown{
    display: block;
  }
  
}