* {
    color: white;
}

body {
    background-image: url(img.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*top at page*/
.navcontainer {
    display: inline-flex;
}
.navbar{
    display: inline-block;
}
.topnav {
    margin-left: 80px;
    text-align: center;
}

.topnav a {
    font-size: 50px;
    float: center;
    display: inline-flex;
    color: #f2f2f2;
    padding: 20px 50px;
    text-decoration: none;
    background-color: none;
    border-radius: 15px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.logo {
    border-radius: 50%;
    width: 100px;
}
.div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    display: none;
  }
/*Content first page*/
.home {
margin: 0% 10%;
    width: 80%;
    height: 90vh;
    display: block;
    align-items: center;
    justify-content: center;
}

.home .home-text {
    background-color: rgba(49, 33, 33, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 40px;
    padding: 20px;
    width: 80%;
    margin: 15% 10%;
    text-align: center;
}
.home .contact-img {
    padding: 3px;
    margin-top: 10%;
    margin-right: -10%;
}


.home-text h1 {
    font-size: 50px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.home-text h3 {
    font-size: 30px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.home-text h5 {
    font-size: 20px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.home-text h1,
h3,
h5 {
    padding: none;
    display: block;
}

.home-text .button {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;

}

.home-text .button:hover {
    background-color: black;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.home-text hr {
    margin-bottom: -18%;
    border: 5px solid orangered;
    border-radius: 50px;
}


.contact-img img {
    border-radius: 50%;
}

.insta,
.facebook,
.github,
.linkedIn {
    width: 50px;
    padding-bottom: 0%;
}

/*Page 2*/
.about {
    position: relative;
    margin: -1% -2%;
    width: 93%;
    height: auto;
    background-color: black;
    padding: 5% 5%;
    display: flex;
}
.about-img,
.about-text {
    background-color: rgb(53, 52, 52);
    padding: 3%;
    border-radius: 20px;
}

.about-img {
    margin-right: 5%;
    width: 20%;
}

.about-text {
    width: 70%;
    display: block;
}
.about-img .discription{
    width: auto;
}
.about a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.about .mail,
.location {
    width: 100%;
    border-radius: 4px;
}

.about-img img {
    border-radius: 30px;
    height: auto;
    width: 100%;
}
.about-text .col1 {
    width: 100%;
    display: flex;
}
.col1 .collom1{
    width: 80%;
}
.col1 .collom2{
    width: 20%;
    margin-top: 20%;
}
.collom2 img {
    margin-top: 5px;
    border-radius: 5px;
    width: 50px;
    display: inline-flex;
}

.about-text h3 {
    font-size: 30px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.about-text h5 {
    font-size: 20px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.about-text h1 {
    font-size: 50px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.about-text p {
    font-size: 30px;
}


.collom1 p {
    font-size: 30px;
    width: 100%;
}

.about-img .discription table {
    background-color: rgba(22, 19, 19, 0.4);
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 255, 0.4);
    width: auto;
    justify-content: center;
}
