* {
    color: white;
}

body {
    background-image: url(img.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*top at page*/
.drop{
    margin: 30px 2px;
    display: none;
}
.drop .div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 6px;
}

.navcontainer {
    display: inline-flex;
}

.topnav {
    margin-left: 80px;
    overflow: hidden;
    text-align: center;
}

.topnav a {
    font-size: 50px;
    float: center;
    display: inline-flex;
    color: #f2f2f2;
    padding: 20px 50px;
    text-decoration: none;
    background-color: none;
    border-radius: 15px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.logo {
    border-radius: 50%;
    width: 100px;
}
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }  
  .show {display: block;}
/*Content first page*/
.home {
    width: 100%;
    height: 90vh;
    display: block;
    align-items: center;
    justify-content: center;
}

.home .home-text {
    margin: 8% 15%;
    background-color: rgba(49, 33, 33, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 80px 500px;
    border-radius: 40px;
}

.home-text h1 {
    font-size: 50px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.home-text h3 {
    font-size: 30px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.home-text h5 {
    font-size: 20px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.home-text h1,
h3,
h5 {
    padding: none;
    display: block;
}

.home-text button {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;

}

.home-text button:hover {
    background-color: black;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.home-text hr {
    margin-bottom: -18%;
    border: 5px solid orangered;
    border-radius: 50px;
}

.home .contact-img {
    padding: 3px;
    margin-top: 10%;
}

.contact-img img {
    border-radius: 50%;
}

.insta,
.facebook,
.github,
.linkedIn {
    width: 50px;
    padding-bottom: 0%;
}

/*Page 2*/
.about {
    width: 100%;
    height: auto;
    background-color: black;
    margin: -2%;
    padding: 50px;
    display: flex;
}

.about a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.about .mail,
.location {
    width: 50px;
    border-radius: 4px;
}

.about-img img {
    border-radius: 30px;
}

.about-text h3 {
    font-size: 30px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.about-text h5 {
    font-size: 20px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.about-text h1 {
    font-size: 50px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.about-img,
.about-text {
    background-color: rgb(53, 52, 52);
    padding: 3%;
    border-radius: 20px;
}

.about-img {
    margin-right: 5%;
}

.about-text {
    width: 70%;
    display: block;
}

.about-text p {
    font-size: 25px;
}

.about-text .col1 {
    display: flex;
    justify-content: space-between;

}

.collom2 img {
    margin-top: 5px;
    border-radius: 5px;
    width: 50px;
    display: inline-flex;
}

.collom1 p {
    font-size: 20px;
    width: 70%;
}

.about-text table {
    background-color: rgba(22, 19, 19, 0.4);
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 255, 0.4);
    margin: 5%;
    width: 40%;
    padding: 5%;
    justify-content: center;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: red;
  }

